@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header*/

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: black;
    font-family: Arial;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: azure;
    width: 80px;
    display: block;
    padding: 30px 20 px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.navbar a:hover {
    background: azure;
    color: black;
}

/*
#logo {
    height: 40px;
    width: 40;
    background: url("assets/images/the-activation-foundation-website-favicon-white.png") no-repeat;
    display: inline;
}

*/

section {
    background: rgb(248, 246, 246);
}

section {
    background: rgb(167, 164, 164);
}

footer {
    background: black;
    color:white;
    padding: 20px;
}
