@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* header*/

header {
    background: black;
    height: 40px;
    color: white;
    padding: 20px;
}

.container {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 15px;
}

li a {
    color:azure;
    text-decoration: none;
}

#logo {
    height: 40px;
    width: 40;
    background: url("assets/images/the-activation-foundation-website-favicon-white.png");
}

section {
    background: rgb(248, 246, 246);
}

section {
    background: rgb(167, 164, 164);
}

footer {
    background: black;
    color:white;
    padding: 20px;
}

